.wp-block-wpfound-testimonial-carousel {
	.testimonial-item__wrap {
		border-radius: 8px;
		padding: 15px;
		position: relative;

		button.components-button.is-primary.has-icon {
			background: none;
			color: inherit;
			min-width: 30px;
			height: 30px;
			font-size: 10px;
			border-radius: 100%;
			border: 1px solid #000;
			padding: 0 !important;
			position: absolute;
			right: -10px;
			top: -10px;

			span {
				font-size: 16px;
				
			}
		}


		.testimonial-item__content {
			@media (max-width: 991px) {
				padding: 0 !important;

			}
		}
	
		.test-desc {
			p {
				font-size: 18px;
				color: #758598;
				letter-spacing: .16px;
				line-height: 30px;
				margin-bottom: 13px;

			}
		}
		.default-image {
			width: 60px;
			height: 60px;
			background: #ddd;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			.dashicons.dashicons-edit {
				position: absolute;
				bottom: -15px;
				color: #2a7dba;
				left: 0;

			}
		
		}

		.testimonial-footer {
			display: inline;

		}

		.author-image {
			display: table-cell;
			vertical-align: middle;
			padding-right: 12px;

			img {
				border-radius: 100%;
				width: 60px;
				height: 60px;
			}
		}

		.author-info {
			display: table-cell;
			vertical-align: middle;
			padding-right: 12px;

			h4, h5 {
				margin-bottom: 0;
				
			}

			h4 {
				font-size: 20px;
				font-weight: 600;
				color: #000;
				margin-bottom: 6px;

			}

			h5 {
				font-size: 16px;
				font-weight: 400;
				color: #758598;
			
			}
		}
	}

	.slick-slider {
		padding-bottom: 100px;

		.slick-slide {
			padding: 10px;

			
			&.slick-active:nth-of-type(2){
				.testimonial-item {
					border: 0;
					text-align: center;

				}

			}

		}	

		.slick-arrow {
			position: absolute;
			bottom: 25px;
			left: 45%;
			transform: translateX(-50%);
			margin: 0;
		

			&.slick-next {
				left: auto;
				right: 43%;

			}
		}

		.slick-dots {
			margin: 0 auto;
			text-align: center;	
			position: relative;
			top: 22px;

			li {
				width: 10px;
				height: 10px;
				position: relative;
				display: inline-block;
				margin: 0 5px;
				padding: 0;
				cursor: pointer;

			}

			.slick-active {
				button {
					&:before {
						background: #000;

					}
				}
			}

			button {
				font-size: 0;
				line-height: 0;
				display: block;
				width: 20px;
				height: 20px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;

				&:before {
					font-family: slick;
					font-size: 0;
					line-height: 20px;
					position: absolute;
					top: 0;
					left: 0;
					width: 10px;
					height: 10px;
					content: '•';
					text-align: center;
					color: #CECECE;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					background: #CECECE;
					border-radius: 100%;

				}

			}
		}
	}
}

// sidebar
.wpf-component_toggle-control {
	.components-flex {
		flex-flow: row-reverse;

		label {
			margin-bottom: 0;

		}
	}
}