@import "slick-carousel/slick/slick";

.wp-block-wpfound-testimonial-carousel {
	.testimonial-item__wrap {
		margin-bottom: 10px;
		padding-left: 5px;
		padding-right: 5px;
		
		.testimonial-item__content {
			@media (max-width: 991px) {
				padding: 0 !important;

			}
		}
	
		.test-desc {
			margin-bottom: 30px;

			p {
				font-size: 18px;
				color: #758598;
				letter-spacing: .16px;
				line-height: 30px;
				margin-bottom: 13px;

			}
		}
		.default-image {
			width: 60px;
			height: 60px;
			background: #ddd;
			border-radius: 50%;
		}

		.testimonial-footer {
			display: inline;

		}

		.author-image {
			display: table-cell;
			vertical-align: middle;
			padding-right: 12px;

			img {
				border-radius: 100%;
				width: 60px;
				height: 60px;
			}
		}

		.author-info {
			display: table-cell;
			vertical-align: middle;
			padding-right: 12px;

			h4, h5 {
				margin-bottom: 0;
				
			}

			h4 {
				font-size: 20px;
				font-weight: 600;
				color: #000;
				margin-bottom: 6px;

			}

			h5 {
				font-size: 16px;
				font-weight: 400;
				color: #758598;
			
			}
		}
	}

	.slick-slider {
		.slick-arrow {
			position: absolute;
			left: -45px;
			top: 50%;
			transform: translate(0,-50%);
			background: none;
			color: #000;
			z-index: 3;

			&.slick-next {
				left: auto;
				right: -45px;

			}
		}

		.slick-dots {
			margin: 0 auto;
			text-align: center;	
			position: relative;
			top: 22px;

			li {
				width: 10px;
				height: 10px;
				position: relative;
				display: inline-block;
				margin: 0 5px;
				padding: 0;
				cursor: pointer;

			}

			.slick-active {
				button {
					&:before {
						background: #000;

					}
				}
			}

			button {
				font-size: 0;
				line-height: 0;
				display: block;
				width: 20px;
				height: 20px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;

				&:before {
					font-family: slick;
					font-size: 0;
					line-height: 20px;
					position: absolute;
					top: 0;
					left: 0;
					width: 10px;
					height: 10px;
					content: '•';
					text-align: center;
					color: #CECECE;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					background: #CECECE;
					border-radius: 100%;

				}

			}
		}
	}
}